---
export const prerender = true;
export async function getStaticPaths() {return ['es','en'].map((lang) => ({params: { lang },}));}
const { lang } = Astro.params;
---
<head>
    <meta name="robots" content="noindex, nofollow">
</head>
<body>
    <div class="container px-4 py-8 md:py-12 relative z-10">
        <h1 class="text-3xl md:text-4xl lg:text-5xl font-bold tracking-tight mb-6">Soluciones Los Superpoderes del Deporte</h1>
        <p class="text-xl text-muted-foreground max-w-3xl mb-8">Aprende como los deportes cuidan de tí casi sin darte cuenta
            Estas son las parejas que debes formar:</p>
        <img src="/images/juegos/los-superpoderes-del-deporte.webp" class="absolute top-0 left-0"/>
    </div>
</body>